language: java

os: windowsxp
  
jdk: oraclejdk8

env:
  global:
  - SELENIUM_HOST=hub-cloud.browserstack.com
  - SELENIUM_PORT=80
  - BS_AUTOMATE_PROJECT="$TRAVIS_REPO_SLUG"
  - BS_AUTOMATE_BUILD="Travis build No. $TRAVIS_BUILD_NUMBER for $TRAVIS_REPO_SLUG"
  - secure: "YpcV9hr5fc9kN1Q+cMURdnqdxk23OI32MQx45pVKOIfFy3vhYXY+Q0NGlKeVz98T6AhCK5CJV//h72Dup4PyXbsj8/jUyKE5fmFPYE3RwbgQSXW/CbAKooWYFN12vGWNirr/jA4M1+elEIe4F0p0MVGakeiDQTAsHlFEKB8ozI4RWLXcdE84dv9Ff8er3AwQbvmVsncSjAp/QyD3CN9+6grIlIgrUga0xkUFjpCIXPDbfnU7u+MJPrDEv3FveDH/k+n+nF7DVp1SvTY74BOdFuXzVdx+0UipnTNLIutXPbogAXM7AUo/M4itNu+oTbdhvumcsMrKCElZUvgUnFu5Y8jSbZYCL5Ns/5DLRziGwJIqNhOZCfkjr7tnmOVXNIV66/OHJzWTwiMx6M0+kcoQavFpJk28fgFhTYfoM8R4t035j1/tVmRQ5NvhSqcuLosAan1xnz4gHxqUdHzedzzSdwi5OlDFIZjiuY7dVawLgopCofYX+otLjUvqEFj0F+20RUyEWfxblvJKuRwNcjAzogOEG2XWrf5GlCdX8j8QbG1cEpziOK855XWoc+LBgA4Kc5uMBVvNy6hl/IGBdDGbEBtfPmb4iPKjNFhhqSkqvkGFYz2UwzmKxm5LCaKEUjDb8V4yKGMORm3mA5azjk9rJFvdSJN7zNwm97iUMbnrcaA="
  
  matrix:
  - SELENIUM_PLATFORM=WINDOWS SELENIUM_BROWSER=IE SELENIUM_VERSION=9


addons:
  firefox: "39.0"
    apt:
    packages:
        - oracle-java8-installer

before_script:
  - gem install selenium-webdriver
  
script: ant main
